@import 'tailwindcss';

@theme {
	/* Mengatur font default mirip gaya Sensei/Blue Archive */
	--font-sans:
		'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Base styles */
@layer base {
	body {
		@apply min-h-screen bg-slate-50 font-sans text-slate-800 antialiased;
	}
}

/* Custom utilities if needed */
@layer utilities {
	.card-shine {
		@apply pointer-events-none absolute top-0 right-0 -mt-10 -mr-10 rounded-full bg-cyan-50 blur-3xl;
	}
}
